#app {
    background-color: aquamarine;
}

#navBar {
    background-color: #11475f;
    color:aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 5px;
}

.navText {
    justify-content: space-around;
    padding-left: 10px;
}